/* js nested function exercises only */
h1{color: rgb(100, 10, 150);
    text-align: center;
}

h3{color: rgb(100, 10, 150);
    text-align: center;
}

p{color: rgb(100, 10, 150);
    text-align: center;
}
p.ulist{color: rgb(100, 10, 150);
    text-align: left;}
    
div{color: rgb(250, 80, 15);
    text-align: center;
}
.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}
ul.b {
    list-style-type: square;
  }